[Unit]
Description=Sausage store frontend
After=syslog.target network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www-data/dist/frontend
ExecStart=http-server -p 443 --proxy http://localhost:8080
Environment="PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
User=front-user
Group=front-user
StandardOutput=file:/opt/log/sausage-store-frontend.log
StandardError=file:/opt/log/sausage-store-frontend.log
SyslogIdentifier=SausageStoreFrontend

[Install]
WantedBy=multi-user.target